<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Demo</title>
  <style>
    body {
      overflow-x: hidden;
    }
    .console-wrapper {
      margin: auto;
      padding: 12px;
      width: 80%;
      background: #eee;
    }
  </style>
</head>

<body>
  <div class="console-wrapper">
    <pre id="console"></pre>
      <button  type="button" onclick="sendMessage()">发送</button>
      <button  type="button" onclick="reFleshData()">刷新数据</button>
  </div>
  <script src="https://cdn.bootcss.com/socket.io/2.1.0/socket.io.js"></script>

  <script>
    // 不重要的代码，仅展示使用 - start
    const con = document.querySelector('#console');
    const doc = document.documentElement;
    const wh = document.documentElement.clientHeight;



	const log = console.log;

	window.onload = function() {
		// init
		const socket = io("http://127.0.0.1:7001/", {
			query: {
//				room: 'demo',
//				userId: `client_${Math.random()}`,
			},

			transports: ['websocket']
		});

		socket.on('connect', () => {
			const id = socket.id;
			socket.on(id, msg => {
				log('#receive,', msg);
			});
		});

		socket.on('online', () => {
			const id = socket.id;

			log('#online,', id, socket);

			socket.on(id, msg => {
				log('#receive,', msg);
			});
		});

		// 接收在线用户信息
		socket.on('message', msg => {
//			log('#message,', msg);
		});

	// 接收在线用户信息
		socket.on('broadcast', msg => {
			log('#broadcast,', msg);
		});

		// 刷新数据
		socket.on('reFleshData', msg => {
			log('#reFleshData', msg);
		});
		// 系统事件
		socket.on('disconnect', msg => {
			log('#disconnect', msg);
		});

		socket.on('error', () => {
			log('#error');
		});


		window.socket = socket;
	};
	
	
	function sendMessage() {
		socket.emit('message', 'mmmmmmmmmmmmmmmm'+new Date())
	}

	function reFleshData() {
		socket.emit('reFleshData', 20)
	}

  </script>
</body>

</html>